PORT=3000
NODE_ENV=local
APP_URL=http://localhost:3000
APP_NAME="Carpool Backend"
JWT_SECRET=xxxxxxxxxxx
REDIS_URL=
GOOGLE_MAPS_API_KEY=xxxxxxxxxxxxxxxxxxxxx

LOG_LEVEL=debug
LOG_MAX_SIZE=20m
LOG_RETENTION_DAYS=30d

RAZORPAY_KEY=xxxxxxx
RAZORPAY_SECRET=xxxxxxxxx

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SID=


MAIL_MAILER="smtp"
MAIL_HOST="mail.maastrixdemo.com"
MAIL_PORT="465"
MAIL_USERNAME="realez@maastrixdemo.com"
MAIL_PASSWORD="VdW7wK%lkpU8"
MAIL_ENCRYPTION="ssl"
MAIL_FROM_ADDRESS="realez@maastrixdemo.com"
MAIL_FROM_NAME="Carpool"

