/node_modules
# /public/hot
/src/public/uploads
/src/logs
# /storage/*.key
# /vendor
./src/logs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
test-socket.js

src/logs
update.js
node_modules/*